.buttonOuter {
    background-color: var(--primary);
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'JetBrains Mono', sans-serif;
    color: white;
    transition: all 200ms;
}

.buttonOuter:hover {
    background-color: var(--primary-tint);
    cursor: pointer;
}
