.title {
    font-weight: bold;
    font-size: 14px;
}

.tags {
    font-size: 10px;
    margin: 8px 0;
}

.tagLink {
    color: var(--text-color);
}

.footer {
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    justify-content: space-between;
}

.date {
    color: #d6c4b0;
}
.continueReading {
}
