.container {
    display: flex;
    height: 30vh;
    align-items: center;
    flex-direction: row;
}

.intro {
    flex-direction: column;
    flex: 1;
}

.avatarContainer {
    height: 100px;
}

.avatar {
    width: 200px;
    height: 200px;
    opacity: .5;
    border-radius: 50%;
}
