@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

:root {
    --text-color: #091d26;
    --text-light: #1022937;
    --primary: #d84f2a;
    --primary-tint: #f9744b;
    --background: #ededed;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    font-size: 12px;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--primary-tint);
}

.app-layout {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

.blog-content {
    font-size: 14px;
}

.content-container {
    display: flex;
    flex-direction: row;
}
.content-container .col-left {
    flex: 1;
    margin-right: 16px;
}

.content-container .col-right {
    width: 400px;
}
