.authorBio {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.story {
    flex: 1;
    padding-right: 256px;
}

.socialLinks {
    margin-top: 16px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.refLink {
    margin-right: 16px;
    color: var(--text-light)
}

.refLink:hover {
    border-bottom: 1px dashed;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
